<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebPipe | Pipe from your servers to the browser!</title>
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body>
    <header>
      <nav class=container>
      <a href="/" class="nav-title">
        <img src="/static/logo.svg" class="webpipe-logo" />
      <h1 class=title>WebPipe</h1>
    </a>
      </nav>
    </header>
    <section class=container>
      <h2>Pipe from your servers to the browser!</h2>
      <p class='tight-bottom'>
      Tail your log files
      </p>
      <pre><code>tail -f access.log | curl --upload-file - <%= @session_url %></code></pre>
      <p>
      View your logs in the browser here:
      <a href="<%= @session_url %>">
        <%= @session_url %>
      </a>
      </p>
    </section>
    <hr />
    <section class="container">
      <h2>FAQ</h2>
      <h3>Can someone else view my data?</h3>
      <p>
      The above URL has been generated just for you, it is 32 byte unique value and is guaranteed to be unique!
      However, if you send this URL to someone else, they too can view it, so share it responsibly!
      </p>
      <h3>How can I get a new token?</h3>
      <p>Just refresh the page to get a new token!</p>
      <h3>How much does it cost?</h3>
      <p>This is a free service, Please use it fairly.</p>
      <h3>How can improve this service?</h3>
      <p>
      Please <a href='https://github.com/hyperngn/webpipe/'>create a PR on our repository</a>❤️
      </p>
    </section>
    <hr>
    <section class="container">
      <h3>Send us a message</h3>
      <form action="https://liveformhq.com/form/725d00c0-264f-44db-ab71-046bac452965" method="POST" accept-charset="utf-8">
        <input type="hidden" name="_utf8" value="✓">
        <fieldset>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Your email...">

          <label for="message">Message</label>
          <textarea type="text" id="message" name="message"></textarea> <br />

          <input class="button-primary" type="submit" value="Send">
        </fieldset>
      </form>
    </section>
    <footer>
      <div class="container">
        <a href='https://hyperngn.com'>Hyperngn Inc</a> © 2020
        <svg xmlns="http://www.w3.org/2000/svg" style="display: inline-block;width: 30px;" viewBox="-1953 -2031 3906 4061">
          <title>Made with &lt;3 in Canada</title>
          <path fill="#FF4136" d="m-90 2030 45-863a95 95 0 0 0-111-98l-859 151 116-320a65 65 0 0 0-20-73l-941-762 212-99a65 65 0 0 0 34-79l-186-572 542 115a65 65 0 0 0 73-38l105-247 423 454a65 65 0 0 0 111-57l-204-1052 327 189a65 65 0 0 0 91-27l332-652 332 652a65 65 0 0 0 91 27l327-189-204 1052a65 65 0 0 0 111 57l423-454 105 247a65 65 0 0 0 73 38l542-115-186 572a65 65 0 0 0 34 79l212 99-941 762a65 65 0 0 0-20 73l116 320-859-151a95 95 0 0 0-111 98l45 863z"></path>
        </svg>
      </div>
    </footer>
  </body>
</html>
