<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title> WebPipe#<%= String.slice(@session_id, 0, 8) %> | Pipe from your servers to the browser!</title>
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body>
    <header>
      <nav class=container>
      <a href="/" class="nav-title">
        <img src="/static/logo.svg" class="webpipe-logo" />
        <h1 class=title>WebPipe</h1>
      </a>
      </nav>
    </header>
    <section class="fluid-container">
      <div class="controls">
        <div class="float-right">
          <input type="checkbox" id="pause-logs">
          <label class="label-inline" for="pause-logs">Pause logs</label>
        </div>
      </div>
      <hr />
      <table id=out></table>
    </section>

    <script charset="utf-8">
      const pauseLogsCheckbox = document.querySelector('#pause-logs')

      const out = document.querySelector('#out')
      const es = new EventSource("/session-sse/<%= @session_id %>")

      const prependLines = (linesRaw) => {
        const fragment = new DocumentFragment()

        linesRaw
        .split(/\r?\n/)
        .forEach(line => {
            if (line == "") {
              return
            }
            const tr = document.createElement("tr")
            const td = document.createElement("td")
            td.innerText = line
            tr.appendChild(td)
            fragment.appendChild(tr)
          })

        out.prepend(fragment)
      }

      es.onmessage = (e) => {
        const line = JSON.parse(e.data).line

        if(pauseLogsCheckbox.checked || line == "" ){
          return
        }

        prependLines(line)
      }
    </script>
  </body>
</html>
